<div class="container">
	<%= form_tag '/characters', role: 'form' do |f| %>
    <div class="col-lg-12">
      <h4>Criar Novo Personagem</h4>	
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="box_elements_left">
          <h3>Attributos</h3>
          <p id="attributes_left">101</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="box_elements_left">
          <h3>Aprimoramentos Positivos</h3>
          <p id="improvements_left">5</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="box_elements_left">
          <h3>Perícias</h3>
          <p id="skills_left" class="small">10xAge + 5xINT</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Dados do Personagem</h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <label for="name">Nome do Personagem</label>
              <%= text_field_tag "character[name]", nil, class: "form-control", placeholder: "Leona Luna" %>
            </div>

            <div class="form-group">
              <label for="race">Raça</label>
              <%= text_field_tag "character[race]", nil, class: "form-control", placeholder: "Elfo" %>
            </div>

            <div class="form-group">
              <label for="class">Classe</label>
              <%= text_field_tag "character[class]", nil, class: "form-control", placeholder: "Lutador" %>
            </div>

            <div class="form-group">
              <label for="profession">Profissão</label>
              <%= text_field_tag "character[profession]", nil, class: "form-control", placeholder: "Ferreiro" %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Info</h3>
          </div>
                  
          <div class="panel-body">

            <p><strong>Level</strong></p>
            
            <div class="form-group">
              <div class="row">
                <div class="col-xs-6 col-md-6">
                  <%= text_field_tag "character[level]", nil, class: "form-control", placeholder: "Nivel" %>
                </div>

                <div class="col-xs-6 col-md-6">
                  <%= text_field_tag "character[experience]", nil, class: "form-control", placeholder: "Experiencia" %>
                </div>

              </div>
            </div>

            <p><strong>Dinheiro</strong></p>

            <div class="form-group">
              <div class="row">
                <div class="col-xs-4 col-md-4">
                  <%= text_field_tag "character[gold]", nil, class: "form-control", placeholder: "Ouro" %>
                </div>

                <div class="col-xs-4 col-md-4">
                  <%= text_field_tag "character[silver]", nil, class: "form-control", placeholder: "Prata" %>
                </div>

                <div class="col-xs-4 col-md-4">
                  <%= text_field_tag "character[cooper]", nil, class: "form-control", placeholder: "Cobre" %>
                </div>
              </div>
            </div>
        
            <p><strong>Status</strong></p>

            <div class="form-group">
              <div class="row">
                <div class="col-xs-4 col-md-4">
                  <%= text_field_tag "character[health_points]", nil, class: "form-control", placeholder: "PV" %>
                </div>

                <div class="col-xs-4 col-md-4">
                  <%= text_field_tag "character[index_protection]", nil, class: "form-control", placeholder: "IP" %>
                </div>

                <div class="col-xs-4 col-md-4">
                  <%= text_field_tag "character[hero_points]", nil, class: "form-control", placeholder: "PH" %>
                </div>
              </div>

              <div class="row">&nbsp;</div>
              
              <div class="row">
                <div class="col-xs-4 col-md-4">
                  <%= text_field_tag "character[magic_points]", nil, class: "form-control", placeholder: "PM" %>
                </div>

                <div class="col-xs-4 col-md-4">
                  <%= text_field_tag "character[focus_points]", nil, class: "form-control", placeholder: "PF" %>
                </div>

                <div class="col-xs-4 col-md-4">
                  <%= text_field_tag "character[magical_aptitude]", nil, class: "form-control", placeholder: "AM" %>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Attributos (101)</h3>
          </div>
          <div class="panel-body">

            <h5>Constituição (CON)</h5>

            <div class="row">
              <div class="form-group">
                <div class="col-xs-4 col-md-4">
                  <%= text_field_tag "character[attributes_attributes][0][base]", nil, class: "form-control", placeholder: "Base" %>
                </div>
                <div class="col-xs-4 col-md-4">
                  <%= text_field_tag "character[attributes_attributes][0][modifier]", nil, class: "form-control", placeholder: "Mod" %>
                </div>
                <div class="col-xs-4 col-md-4">
                  <%= text_field_tag "character[attributes_attributes][0][bonus]", nil, class: "form-control", placeholder: "Bonus" %>
                </div>
                <%= hidden_field_tag "character[attributes_attributes][0][name]", "Constituição" %>
              </div>
            </div> 

            <h5>Força (FR)</h5>

            <div class="row">
              <div class="form-group">
                <div class="col-xs-4 col-md-4">
                  <%= text_field_tag "character[attributes_attributes][0][base]", nil, class: "form-control", placeholder: "Base" %>
                </div>
                <div class="col-xs-4 col-md-4">
                  <%= text_field_tag "character[attributes_attributes][0][modifier]", nil, class: "form-control", placeholder: "Mod" %>
                </div>
                <div class="col-xs-4 col-md-4">
                  <%= text_field_tag "character[attributes_attributes][0][bonus]", nil, class: "form-control", placeholder: "Bonus" %>
                </div>
                <%= hidden_field_tag "character[attributes_attributes][0][name]", "Força" %>
              </div>
            </div> 

            <h5>Destreza (DEX)</h5>

            <div class="row">
              <div class="form-group">
                <div class="col-xs-4 col-md-4">
                  <%= text_field_tag "character[attributes_attributes][0][base]", nil, class: "form-control", placeholder: "Base" %>
                </div>
                <div class="col-xs-4 col-md-4">
                  <%= text_field_tag "character[attributes_attributes][0][modifier]", nil, class: "form-control", placeholder: "Mod" %>
                </div>
                <div class="col-xs-4 col-md-4">
                  <%= text_field_tag "character[attributes_attributes][0][bonus]", nil, class: "form-control", placeholder: "Bonus" %>
                </div>
                <%= hidden_field_tag "character[attributes_attributes][0][name]", "Destreza" %>
              </div>
            </div> 

            <h5>Agilidade (AGI)</h5>

            <div class="row">
              <div class="form-group">
                <div class="col-xs-4 col-md-4">
                  <%= text_field_tag "character[attributes_attributes][0][base]", nil, class: "form-control", placeholder: "Base" %>
                </div>
                <div class="col-xs-4 col-md-4">
                  <%= text_field_tag "character[attributes_attributes][0][modifier]", nil, class: "form-control", placeholder: "Mod" %>
                </div>
                <div class="col-xs-4 col-md-4">
                  <%= text_field_tag "character[attributes_attributes][0][bonus]", nil, class: "form-control", placeholder: "Bonus" %>
                </div>
                <%= hidden_field_tag "character[attributes_attributes][0][name]", "Destreza" %>
              </div>
            </div> 

            <h5>Inteligência (INT)</h5>

            <div class="row">
              <div class="form-group">
                <div class="col-xs-4 col-md-4">
                  <%= text_field_tag "character[attributes_attributes][0][base]", nil, class: "form-control", placeholder: "Base" %>
                </div>
                <div class="col-xs-4 col-md-4">
                  <%= text_field_tag "character[attributes_attributes][0][modifier]", nil, class: "form-control", placeholder: "Mod" %>
                </div>
                <div class="col-xs-4 col-md-4">
                  <%= text_field_tag "character[attributes_attributes][0][bonus]", nil, class: "form-control", placeholder: "Bonus" %>
                </div>
                <%= hidden_field_tag "character[attributes_attributes][0][name]", "Inteligência" %>
              </div>
            </div>

            <h5>Força de Vontade (WILL)</h5>

            <div class="row">
              <div class="form-group">
                <div class="col-xs-4 col-md-4">
                  <%= text_field_tag "character[attributes_attributes][0][base]", nil, class: "form-control", placeholder: "Base" %>
                </div>
                <div class="col-xs-4 col-md-4">
                  <%= text_field_tag "character[attributes_attributes][0][modifier]", nil, class: "form-control", placeholder: "Mod" %>
                </div>
                <div class="col-xs-4 col-md-4">
                  <%= text_field_tag "character[attributes_attributes][0][bonus]", nil, class: "form-control", placeholder: "Bonus" %>
                </div>
                <%= hidden_field_tag "character[attributes_attributes][0][name]", "Força de Vontade" %>
              </div>
            </div> 

            <h5>Percepção (PER)</h5>

            <div class="row">
              <div class="form-group">
                <div class="col-xs-4 col-md-4">
                  <%= text_field_tag "character[attributes_attributes][0][base]", nil, class: "form-control", placeholder: "Base" %>
                </div>
                <div class="col-xs-4 col-md-4">
                  <%= text_field_tag "character[attributes_attributes][0][modifier]", nil, class: "form-control", placeholder: "Mod" %>
                </div>
                <div class="col-xs-4 col-md-4">
                  <%= text_field_tag "character[attributes_attributes][0][bonus]", nil, class: "form-control", placeholder: "Bonus" %>
                </div>
                <%= hidden_field_tag "character[attributes_attributes][0][name]", "Percepção" %>
              </div>
            </div> 

            <h5>Carisma (CAR)</h5>

            <div class="row">
              <div class="form-group">
                <div class="col-xs-4 col-md-4">
                  <%= text_field_tag "character[attributes_attributes][0][base]", nil, class: "form-control", placeholder: "Base" %>
                </div>
                <div class="col-xs-4 col-md-4">
                  <%= text_field_tag "character[attributes_attributes][0][modifier]", nil, class: "form-control", placeholder: "Mod" %>
                </div>
                <div class="col-xs-4 col-md-4">
                  <%= text_field_tag "character[attributes_attributes][0][bonus]", nil, class: "form-control", placeholder: "Bonus" %>
                </div>
                <%= hidden_field_tag "character[attributes_attributes][0][name]", "Carisma" %>
              </div>
            </div> 

          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Magias</h3>
          </div>

          <div class="panel-body">
            <p><strong>Formas</strong></p>

            <div class="form-group">
              <div class="row">

                <div class="col-xs-4 col-md-4">
                  <%= text_field_tag "character[magic_attributes][know]", nil, class: "form-control", placeholder: "Entender" %>
                </div>

                <div class="col-xs-4 col-md-4">
                  <%= text_field_tag "character[magic_attributes][make]", nil, class: "form-control", placeholder: "Criar" %>
                </div>

                <div class="col-xs-4 col-md-4">
                  <%= text_field_tag "character[magic_attributes][handle]", nil, class: "form-control", placeholder: "Controlar" %>
                </div>
              </div>
            </div>

            <p><strong>Caminhos</strong></p>

            <div class="form-group">
             <div class="row row_pad">
                <div class="col-xs-6 col-md-6">
                  <%= text_field_tag "character[magic_attributes][fire]", nil, class: "form-control", placeholder: "Fogo" %>
                </div>

                <div class="col-xs-6 col-md-6">
                  <%= text_field_tag "character[magic_attributes][plants]", nil, class: "form-control", placeholder: "Plantas" %>
                </div>
              </div>
              
              <div class="row row_pad">
                <div class="col-xs-6 col-md-6">
                  <%= text_field_tag "character[magic_attributes][water]", nil, class: "form-control", placeholder: "Água" %>
                </div>

                <div class="col-xs-6 col-md-6">
                  <%= text_field_tag "character[magic_attributes][animals]", nil, class: "form-control", placeholder: "Animais" %>
                </div>
              </div>
              
              <div class="row row_pad">
                <div class="col-xs-6 col-md-6">
                  <%= text_field_tag "character[magic_attributes][earth]", nil, class: "form-control", placeholder: "Terra" %>
                </div>

                <div class="col-xs-6 col-md-6">
                  <%= text_field_tag "character[magic_attributes][human]", nil, class: "form-control", placeholder: "Humanos" %>
                </div>
              </div>
              
              <div class="row row_pad">
                <div class="col-xs-6 col-md-6">
                  <%= text_field_tag "character[magic_attributes][air]", nil, class: "form-control", placeholder: "Ar" %>
                </div>

                <div class="col-xs-6 col-md-6">
                  <%= text_field_tag "character[magic_attributes][dead]", nil, class: "form-control", placeholder: "Mortos" %>
                </div>
              </div>
              
              <div class="row row_pad">
                <div class="col-xs-6 col-md-6">
                  <%= text_field_tag "character[magic_attributes][light]", nil, class: "form-control", placeholder: "Lux" %>
                </div>

                <div class="col-xs-6 col-md-6">
                  <%= text_field_tag "character[magic_attributes][extra_planar]", nil, class: "form-control", placeholder: "Extra-Planar" %>
                </div>
              </div>
              
              <div class="row row_pad">
                <div class="col-xs-6 col-md-6">
                  <%= text_field_tag "character[magic_attributes][dark]", nil, class: "form-control", placeholder: "Trevas" %>
                </div>

                <div class="col-xs-6 col-md-6">
                  <%= text_field_tag "character[magic_attributes][meta_planar]", nil, class: "form-control", placeholder: "Meta-Planar" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
       <div class="col-lg-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Aprimoramentos Positivo</h3>
          </div>
          <div class="panel-body">
            <div id="improvements">
              <div class="container_improvement" count="0">
                <div class="form-group">
                  <label for="improvements[0][name]">Aprimoramento</label>
                  <%= text_field_tag "improvements[0][name]", nil, class: "form-control", placeholder: "Ataque furtivo II" %>
                </div>

                <div class="form-group">
                  <label for="improvements[0][description]">Efeito</label>
                  <%= text_field_tag "improvements[0][description]", nil, class: "form-control", placeholder: "2d6 de dano ao atacar furtivamente" %>
                </div>
              </div>
            </div>

            <div>
              <button class="btn btn-primary" id="add_improvement"><span class="glyphicon glyphicon-plus"></span> Adicionar Aprimoramento</button>
            </div>

          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Aprimoramentos Negativo</h3>
          </div>
          <div class="panel-body">
            <div id="injuries">
              <div class="container_injuries" count="0">
                <div class="form-group">
                  <label for="injuries[0][name]">Aprimoramento</label>
                  <%= text_field_tag "injuries[0][name]", nil, class: "form-control", placeholder: "Fanatico" %>
                </div>

                <div class="form-group">
                  <label for="injuries[0][description]">Efeito</label>
                  <%= text_field_tag "injuries[0][description]", nil, class: "form-control", placeholder: "É fanatico em querer destruir planos de Ambaron" %>
                </div>
              </div>
            </div>

            <div>
              <button class="btn btn-primary" id="add_injurie"><span class="glyphicon glyphicon-plus"></span> Adicionar Aprimoramento</button>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Pericias com Armas</h3>
          </div>
          <div class="panel-body">

          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Pericias</h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <div class="col-xs-4 col-md-4">
                <input class="form-control" id="attributes_0_base" name="attributes[0][base]" placeholder="Nome" type="text">
              </div>
              <div class="col-xs-4 col-md-4">
                <input class="form-control" id="attributes_0_base" name="attributes[0][base]" placeholder="Base" type="text">
              </div>
              <div class="col-xs-4 col-md-4">
                <input class="form-control" id="attributes_0_modifier" name="attributes[0][modifier]" placeholder="Mod" type="text">
              </div>
              <input id="attributes_0_name" name="attributes[0][name]" type="hidden" value="Inteligência">
            </div>
            skill_points
            bonus
            player_id
            skill_id
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">História</h3>
          </div>
          <div class="panel-body">
            <textarea name="character[hiostory]" id="history" style="height: 100%;"></textarea>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

