<div class="container">
	<%= form_tag '/character', role: 'form', id: 'form_character_create' do |f| %>
    <div>
      <h2 class="vert_pad">Criar Novo Personagem</h2>  
    </div>
    <div id="helpers" role="tabpanel">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#infos" aria-controls="infos" role="tab" data-toggle="tab">Infos</a></li>
        <li role="presentation"><a href="#races" aria-controls="races" role="tab" data-toggle="tab">Guia Raças</a></li>
        <li role="presentation"><a href="#kits" aria-controls="kits" role="tab" data-toggle="tab">Kits Personagens</a></li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="infos">
          <div class="row">
            <div class="col-lg-4">
              <div class="box_elements_left">
                <h3>Attributos</h3>
                <p id="attributes_left">101</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="box_elements_left">
                <h3>Aprimoramentos Positivos</h3>
                <p id="improvements_left">5</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="box_elements_left">
                <h3>Perícias</h3>
                <p id="skills_left" class="small">10xAge + 5xINT</p>
              </div>
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="races">
          <%= render partial: 'races_guide'%>
        </div>
        <div role="tabpanel" class="tab-pane" id="kits">
          <%= render partial: 'character_kits'%>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Dados do Personagem</h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <label for="name">Nome do Personagem</label>
              <%= text_field_tag "character[name]", nil, class: "form-control", placeholder: "Leona Luna" %>
            </div>

            <div class="form-group">
              <label for="race">Raça</label>
              <%= race_select %>
            </div>

            <div class="form-group">
              <label for="class">Classe</label>
              <%= kit_select %>
            </div>

            <div class="form-group">
              <label for="profession">Profissão</label>
              <%= text_field_tag "character[profession]", nil, class: "form-control", placeholder: "Ferreiro" %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Info</h3>
          </div>
                  
          <div class="panel-body">

            <p><strong>Level</strong></p>
            
            <div class="form-group">
              <div class="row">
                <div class="col-xs-6 col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon">LV</span>
                    <%= text_field_tag "character[level]", 1, class: "form-control", readonly: true %>
                  </div>
                </div>

                <div class="col-xs-6 col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon">XP</span>
                    <%= text_field_tag "character[experience]", 0, class: "form-control", readonly: true %>
                  </div>
                  
                </div>

              </div>
            </div>

            <p><strong>Dinheiro</strong></p>

            <div class="form-group">
              <div class="row">
                <div class="col-xs-4 col-md-4">
                  <div class="input-group">
                    <span class="input-group-addon">PO</span>
                    <%= text_field_tag "character[gold]", 0, class: "form-control", placeholder: "Ouro" %>
                  </div>
                </div>

                <div class="col-xs-4 col-md-4">
                  <div class="input-group">
                    <span class="input-group-addon">PP</span>
                    <%= text_field_tag "character[silver]", 0, class: "form-control", placeholder: "Prata" %>
                  </div>
                </div>

                <div class="col-xs-4 col-md-4">
                  <div class="input-group">
                    <span class="input-group-addon">PC</span>
                    <%= text_field_tag "character[cooper]", 0, class: "form-control", placeholder: "Cobre" %>
                  </div>
                  
                </div>
              </div>
            </div>
        
            <p><strong>Status</strong></p>

            <div class="form-group">
              <div class="row">
                <div class="col-xs-4 col-md-4">
                  <div class="input-group">
                    <span class="input-group-addon">PV</span>
                    <%= text_field_tag "character[health_points]", 0, class: "form-control", placeholder: "Vida" %>
                  </div>
                </div>

                <div class="col-xs-4 col-md-4">
                  <div class="input-group">
                    <span class="input-group-addon">IP</span>
                    <%= text_field_tag "character[index_protection]", 0, class: "form-control", placeholder: "Proteção" %>
                  </div>
                </div>

                <div class="col-xs-4 col-md-4">
                  <div class="input-group">
                    <span class="input-group-addon">PH</span>
                    <%= text_field_tag "character[hero_points]", 0, class: "form-control", placeholder: "Heróicos" %>
                  </div>
                </div>
              </div>

              <div class="row">&nbsp;</div>
              
              <div class="row">
                <div class="col-xs-4 col-md-4">
                  <div class="input-group">
                    <span class="input-group-addon">PM</span>
                    <%= text_field_tag "character[magic_points]", 0, class: "form-control", placeholder: "Mana" %>
                  </div>
                </div>

                <div class="col-xs-4 col-md-4">
                  <div class="input-group">
                    <span class="input-group-addon">PF</span>
                    <%= text_field_tag "character[focus_points]", 0, class: "form-control", placeholder: "Focus" %>
                  </div>
                </div>

                <div class="col-xs-4 col-md-4">
                  <div class="input-group">
                    <span class="input-group-addon">PdF</span>
                    <%= text_field_tag "character[faith_points]", 0, class: "form-control", placeholder: "Fé" %>
                  </div>
                  
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="panel panel-primary" id="attributes">
          <div class="panel-heading">
            <h3 class="panel-title">Atributos (101)</h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-6 col-md-6 panel-title center">Base</div>
              <div class="col-xs-3 col-md-3 panel-title center">Modificador</div>
              <div class="col-xs-3 col-md-3 panel-title center">Total</div>
            </div>
            <% Status::ATTRS.each_with_index do |attr, i| %>
              <div class="row row_pad" id="attr_<%= attr.first %>">
                <div class="form-group">
                  <div class="col-xs-6 col-md-6">
                    <div class="input-group">
                      <span class="input-group-addon input-group-min"><%= attr.last %></span>
                      <%= text_field_tag "character[status_attributes][#{attr.first}]", 0,  class: "form-control center", placeholder: "Base"%>
                    </div>
                  </div>
                  <div class="col-xs-3 col-md-3 center mod">-</div>
                  <div class="col-xs-3 col-md-3 center total">-</div>
                </div>
              </div> 
            <% end %>
            <p class="center"><strong>Total Usado: <span id="total_attr">0</span></strong></p>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Magias</h3>
          </div>

          <div class="panel-body">
            <p><strong>Formas</strong></p>

            <div class="form-group">
              <div class="row">
                <% Magic::FORMS.each do |form| %>
                  <div class="col-xs-4 col-md-4">
                    <div class="input-group">
                      <span class="input-group-addon"><%= form.last %></span>
                      <%= text_field_tag "character[magic_attributes][#{form.first}]", 0, class: "form-control" %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>

            <p><strong>Caminhos</strong></p>

            <div class="form-group">
             <div class="row">
                <% Magic::PATHS.each do |path| %>
                  <div class="col-xs-6 col-md-6 row_pad">
                    <div class="input-group">
                      <span class="input-group-addon input-group-max"><%= path.last %></span>
                      <%= text_field_tag "character[magic_attributes][#{path.first}]", 0, class: "form-control" %>
                    </div>
                    
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
       <div class="col-lg-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Aprimoramentos Positivo</h3>
          </div>
          <div class="panel-body">
            <div id="improvements">
              <div class="container_improvement">
                <div id="improvement_list" count="0"></div>

                <div class="form-group">
                  <%= improvement_select %>
                </div>
              </div>

              <div class="new_improvement" style="display:none;">
                <p>
                  <span class="improvement_name"></span>
                  <a class="remove_new_improvement" href="javascript:void(0)">remover</a>
                </p>
                <input type="hidden" class="improvement_id" name="character[improvements_attributes][0][improvement_id]" disabled>
              </div>
            </div>

            <div>
              <button class="btn btn-primary" id="add_improvement"><span class="glyphicon glyphicon-plus"></span> Adicionar</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Aprimoramentos Negativo</h3>
          </div>
          <div class="panel-body">
            <div id="injuries">
              <div class="container_injury">
                <div id="injury_list" count="0"></div>
                
                <div class="form-group">
                  <%= injury_select %>
                </div>

                <div class="new_injury" style="display:none;">
                  <p>
                    <span class="injury_name"></span>
                    <a class="remove_new_injury" href="javascript:void(0)">remover</a>
                  </p>
                  <input type="hidden" class="injury_id" name="character[injuries_attributes][0][injury_id]" disabled>
                </div>

              </div>
            </div>

            <div>
              <button class="btn btn-primary" id="add_injury"><span class="glyphicon glyphicon-plus"></span> Adicionar</button>
            </div>

          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Perícia com Armas</h3>
          </div>
          <div class="panel-body">
            <div id="weapon_skills">
              <div class="container_weapon_skill">
                <div id="weapon_skill_list" count="0"></div>
                
                <div class="form-group">
                  <%= weapon_skill_select %>
                </div>

                <div class="form-inline new_weapon_skill" style="display:none;">
                  <p>
                    <span class="weapon_skill_name"></span>
                    <span class="input-group weapon_skill_atack_skill_points">
                      <input type="text" class="form-control" size="2" name="character[weapon_skills_attributes][0][atack_skill_points]" disabled placeholder="ATK">
                    </span>
                    <span class="input-group weapon_skill_defence_skill_points">
                      <input type="text" class="form-control" size="2" name="character[weapon_skills_attributes][0][defence_skill_points]" disabled placeholder="DEF">
                    </span>
                    <a class="remove_new_weapon_skill" href="javascript:void(0)">remover</a>
                  </p>
                  <input type="hidden" class="weapon_skill_id" name="character[weapon_skills_attributes][0][weapon_skill_id]" disabled>
                </div>

              </div>
            </div>

            <div>
              <button class="btn btn-primary" id="add_weapon_skill"><span class="glyphicon glyphicon-plus"></span> Adicionar</button>
            </div>

          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Perícias</h3>
          </div>
          <div class="panel-body">
            <div id="skills">
              <div class="container_skill">
                <div id="skill_list" count="0"></div>
                <div class="form-group">
                  <%= skill_select %>
                </div>

                <div class="form-inline new_skill" style="display:none;">
                  <p>
                    <span class="skill_name"></span>
                    <span class="input-group skill_skill_points">
                      <input type="text" class="form-control" size="2" name="character[skills_attributes][0][skill_points]" disabled placeholder="Pontos">
                    </span>
                    <a class="remove_new_skill" href="javascript:void(0)">remover</a>
                  </p>
                  <input type="hidden" class="skill_id" name="character[skills_attributes][0][skill_id]" disabled>
                </div>

              </div>
            </div>

            <div>
              <button class="btn btn-primary" id="add_skill"><span class="glyphicon glyphicon-plus"></span> Adicionar</button>
            </div>

          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">História</h3>
          </div>
          <div class="panel-body">
            <textarea name="character[history]" id="history" style="height: 100%;"></textarea>
          </div>
        </div>
      </div>
      <div class="center"><input type="submit" class="btn btn-primary" value="Criar Personagem"></div>
    </div>
  <% end %>
</div>

