<div class="container" id="show_character">
	<div class="row" id="character_infos">
		<div class="col-lg-8">
			<div>
				<p><sup class="strong">Nome</sup> <span><%= @character.name %></span></p>
				<p><sup class="strong">Raça</sup> <span><%= @character.race.name %></span></p>
				<p><sup class="strong">Classe</sup> <span><%= @character.kit.name %></span></p>
				<p><sup class="strong">Profissão</sup> <span><%= @character.profession %></span></p>
				<p>
					<sup class="strong">XP</sup> <span><%= @character.experience %></span> 
					<sup class="strong">Level</sup> <span><%= @character.level %></span>
				</p>
				<p>
					<sup class="strong">Ouro</sup> <span><%= @character.gold %></span>
					<sup class="strong">Prata</sup> <span><%= @character.silver %></span>
					<sup class="strong">Cobre</sup> <span><%= @character.cooper %></span>
				</p>
			</div>
		</div>
		<div class="col-lg-4"></div>
	</div>
	<div class="row" id="character_infos">
		<div class="col-lg-8">
			<div>
				<p><sup class="strong">Nome</sup> <span><%= @character.name %></span></p>
				<p><sup class="strong">Raça</sup> <span><%= @character.race.name %></span></p>
				<p><sup class="strong">Classe</sup> <span><%= @character.kit.name %></span></p>
				<p><sup class="strong">Profissão</sup> <span><%= @character.profession %></span></p>
				<p>
					<sup class="strong">XP</sup> <span><%= @character.experience %></span> 
					<sup class="strong">Level</sup> <span><%= @character.level %></span>
				</p>
				<p>
					<sup class="strong">Ouro</sup> <span><%= @character.gold %></span>
					<sup class="strong">Prata</sup> <span><%= @character.silver %></span>
					<sup class="strong">Cobre</sup> <span><%= @character.cooper %></span>
				</p>
			</div>
		</div>
		<div class="col-lg-4"></div>
	</div>
</div>
